@charset "utf-8";
/*SS Document */
#lunch-content {
	padding: 20px 8% 120px 8%;
}
#lunch-content dl{
	color:#5c5c5c;
	font-weight:bold;
}
#lunchmenu dl,#teatime dl {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top:50px;
}
#lunchmenu dl dt,#teatime dl dt{
	width:50%;
	margin-bottom: 0.5em;
}
#lunchmenu dl dd,#teatime dl dd{
	width:45%;
}
h3{
  margin-bottom: 0.5em;
  border-bottom: thin solid #B60D13;
}
dl dd p,#lunchmenu ul{
	color: #818181;
	font-weight: normal;

}
#lunchmenu ul{
  margin-left: 1.5em;
  list-style: square;
}
.rice{
	text-align: center;
	border: 2px solid;
    border-color: pink;
    border-radius: 8px;
    padding: 1em;
}
.msg{
	text-align: center;
    padding: 8px 19px;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
}
/*-------------600pxブレイク---------------*/
@media screen and (max-width:600px){
#lunchmenu dl,#teatime dl {
	display: block;
	width:100%;
}
#lunchmenu dl dt,#teatime dl dt {
	width:100%;
	text-align:center;
}
#lunchmenu dl dd,#teatime dl dd {
	width:100%;
}
}