@charset "utf-8";
/* CSS Document */
#main dl{
	color:#5c5c5c;
	font-weight:bold;
}
#lunchmenu dl,#teatime dl {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top:50px;
}
#lunchmenu dl dt,#teatime dl dt{
	width:50%;
	margin-bottom: 0.5em;
}
#lunchmenu dl dd,#teatime dl dd{
	width:45%;
}
h3{
  margin-bottom: 0.5em;
  border-bottom: thin solid #B60D13;
}
dl dd p,#lunchmenu ul{
	color: #818181;
	font-weight: normal;

}
#lunchmenu ul{
  margin-left: 1.5em;
  list-style: square;
}
.rice{
	text-align: center;
}
/*-------------600pxブレイク---------------*/
@media screen and (max-width:600px){
#lunchmenu dl,#teatime dl {
	display: block;
	width:100%;
}
#lunchmenu dl dt,#teatime dl dt {
	width:100%;
	text-align:center;
}
#lunchmenu dl dd,#teatime dl dd {
	width:100%;
}
}